.container1 {
    background-image: url("background.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container2 {
    background-image: linear-gradient(to left, pink, deeppink, magenta);
    height: 500px;
}